# This file is managed by Puppet. Any manual changes will be lost

# Authored by Timm. 2015-02-18 09:04

Port 22
Protocol 2
PermitRootLogin no
PasswordAuthentication no
AllowUsers timm git art
UsePAM yes

